<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




</head>

<body>
    {{>navbar}}
    <br>
    <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">List</h1>
    
<ul  class="list-group">
        {{#each products as |product| }}
<li class="list-group-item d-flex justify-content-between align-items-center">
    {{product.name}} : Rs. {{product.price}} 
    
    <span class="badge badge-secondary badge-pill">
        <a href="/cart/delete/{{product.name}}">hii
         </a>
    </span>
    <span class="badge badge-secondary badge-pill">
        <a href="/cart/delete-all/{{product.name}}">delete item</a>
    </span>
    <span class="badge badge-primary badge-pill">Number of items:  {{product.incart}}</span>
  </li>
      

        {{/each}}
        
</ul>

<div style="display: flex;justify-content:space-between;margin:10%;font-family: Impact;font-size: x-large;">
    <p>
        total
    </p>
<ul id="myList" class="list-group" style="list-style: none;">

</ul>

</div>

 
    <br>
  


</body>

</html>

<script>
    let a = 0;
    {{#each products as |product| }}
    a={{product.price}}*{{product.incart}}+a;
    {{/each}}
    console.log(a);

var node = document.createElement("li");                 // Create a <li> node
var textnode = document.createTextNode(a);         // Create a text node
node.appendChild(textnode);                              // Append the text to <li>
document.getElementById("myList").appendChild(node);  
</script>