<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




</head>

<body>
    {{>navbar}}
    <br>
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                </footer>
            </blockquote>
        </div>
    </div>

    <br>


    <div class="bd-example mr-4 mb-4" style="height: 400px ">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="books2.jpg" height="550px" class="d-block w-100 mx-4" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 style="color: white;">WHY US ?</h3>
                        <p style="color: white">WE PROVIDE BOOKS AT EFFECTIVE PRICE AS LOW AS 30%</p>

                    </div>
                </div>

                <div class="carousel-item">
                    <img src="books4.jpg" height="550px" class="d-block w-100 mx-4" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 style="color:red">WHY US ?</h1>
                        <h3 style="color:blue;">DOOR TO DOOR SERVICE</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="book-stack.jpg" height="550px" class="d-block w-100 mx-4" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 style="color:WHITE">WHY US ?</h3>
                        <p style="color: white">ONE STOP FOR ALL YOUR ENGINEERING BOOKS</p>
                    </div>


                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="row ml-2 justify-content-sm-start">

        {{#each products as |product| }}


        <div class="card bg-light shadow-lg p-3 mb-5 bg-white rounded card border-dark  mb-3 mx-2 p-1" id="box_shadow"
            style="width: 18rem; height: 31rem;">
            <img src="https://www.adazing.com/wp-content/uploads/2019/02/open-book-clipart-06-1-300x300.png"
                class="card-img-top product_image" alt="...">
            <div class="card-body bg-transparent border-dark">
                <h5 class="card-title product_name text-center">{{product.name}}</h5>
                <h5 class="card-title product_name text-center">Rs.{{product.price}}</h5>
                <h6 class="card-subtitle mb-2 text-muted prodct_manufacturer text-center">{{product.publisher}}</h6>
            </div>


            <div class="card-footer bg-transparent border-dark d-flex bd-highlight mb-3">
                <form action="/cart/" method="POST">
                    <input name="name" type="hidden" value="{{product.name}}"></input>
                    <button type="submit" class="btn btn-primary btn-lg mr-auto p-2 bd-highlight">Buy Now</button>
                </form>

                <a href="#" class="btn btn-primary btn-lg p-2 bd-highlight">Rent Now</a>
            </div>

        </div>

        {{/each}}

    </div>
    <p>{{products.name}}</p>
</body>
<script>
    var element = document.getElementById("home");
    element.classList.add("active");
</script>

</html>